<div class="jumbotron">
    <h1>Virtualmind Code Challenge</h1>
    <p class="lead">This app is for the test of the code challenges provided by Virtualmind</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Quotation Service</h2>
        <p>Get real time currency quotation of Real, Pesos and Dollars</p>
        <p><a class="btn btn-default" href="http://localhost:61576/api/Quotation/Quotation/dolar">Dollar</a></p>
        <p><a class="btn btn-default" href="http://localhost:61576/api/Quotation/Quotation/pesos">Pesos</a></p>
        <p><a class="btn btn-default" href="http://localhost:61576/api/Quotation/Quotation/real">Real</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simple Users CRULD</h2>
        <p>Create, Read, Update, List and Delete simple user objects.</p>
        <p><a class="btn btn-default" href="http://localhost:55639/User/">Manage Users</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some JS functions</h2>
        <p>Some JS code to play around</p>
        <p><a class="btn btn-default" href="http://localhost:55639/Javascript">Go!</a></p>
    </div>
</div>
